In [ ]:
#1.Write a python program to convert a string to 
#lower case

In [1]:
x="HONESTY IS THE BEST POLICY"
x.lower()

'honesty is the best policy'

In [ ]:
#2.Write a python program to convert only odd 
#indexed characters to lower case 
#Ex:- PYTHON
#Output: - PyThOn

In [2]:
x=input("enter a string :")
str1=""
for i in range(0,len(x)):
    if i%2==0:
        str1=str1+b[i].upper()
    else:
        str1=str1+b[i].lower()
print(str1)

enter a string :anusha
AnUsHa

In [ ]:
#3.Write a python program to convert only even 
#indexed characters to lower case 
#Ex:- PYTHON
#Output: - pYtHoN

In [4]:
x=input("enter a string :")
str1=""
for i in range(0,len(x)):
    if i%2!=0:
        str1=str1+b[i].upper()
    else:
        str1=str1+b[i].lower()
print(str1)

enter a string :anusha
aNuShA

In [ ]:
#4.Write a python program to convert only odd 
#indexed characters to upper case 
#Ex:- python
#Output: - pYtHoN

In [8]:
x=input("enter a string")
str1=""
for i in range(0,len(x)):
    if i%2!=0:
        str1=str1+b[i].upper()
    else:
        str1=str1+b[i].lower()
print(str1)

enter a stringanusha
aNuShA

In [ ]:
#5.Write a python program to convert only even 
#indexed characters to upper case 
#Ex:- python
#Output: - PyThOn

In [9]:
x=input("enter a string")
str1=""
for i in range(0,len(x)):
    if i%2==0:
        str1=str1+b[i].upper()
    else:
        str1=str1+b[i].lower()
print(str1)

enter a stringanusha
AnUsHa

In [ ]:
#6.Write a python program where you have 
#different variable which contains your name 
#,sex,age, phone no ,fathers name and mothers 
#name.And by using this variable create a 
#variable named bio-data where you will use all 
#this variable
#Ex:-print(bio-data)
#Output:- My name is …., My age is ….,My 
#phone-no is ….,my fathers name is …,and my 
#mothers name is…

In [4]:
name=input("enter your name")
sex=input("enter your sex")
age=int(input("enter your age"))
phonenumber=int(input("enter your phonenumber"))
fathersname=input("enter your fathersname")
mothersname=input("enter your mothersname")
bio_data=("my name is{}, my sex is {}, my age is {}, my phonenumber is {}, my fathersname is {}, my mothersname is {}")
bio_data.format(name,sex,age,phonenumber,fathersname,mothersname)

enter your nameAnusha
enter your sexF
enter your age23
enter your phonenumber9876543210
enter your fathersnameilaiah
enter your mothersnamemalathi

'my name isAnusha, my sex is F, my age is 23, my phonenumber is 9876543210, my fathersname is ilaiah, my mothersname is malathi'

In [ ]:
#7.Write a python program to count how many 
#times “@” occurred

In [7]:
x=input("enter your data")
x.count("@")

enter your dataas@fd@hg@kj@kj@lk@

6

In [ ]:
#8.Write a python program to get only names from 
#the string 
#“name1.@gmail.com,name2.@gmail.com,name
#3.@gmail.com”
#Output-name1,name2,name3

In [10]:
s1="name1.@gmail.com,name2.@gmail.com,name3.@gmail.com"
s1=s1.split(".")
print(s1[0],s1[2][4:],s1[4][4:])

name1 name2 name3

In [ ]:
# Given a string of odd length greater than 9,return a new string made of the middle three characters of a given String

In [11]:
name="anushayadav"
b=int(len(name)/2)
name[b-1:b+2]

'hay'

In [ ]:
#10. Write a python program to insert a 2 string 
#in the middle of 1 string
#Ex:-Str1=”myn”
#Str2=”sa”
#Output:-“msayn”

In [18]:
s1=input("enter your name")
s2=input("enter your name")
s1[0:2]+s2+s2[2:]

enter your nameabc
enter your nameefg

'abefgg'

In [ ]:
#11. Write a program to remove vowels from 
#the entire alphabets 
#Ex:- “abcdefghijklmnopqrstuvwxyz”
#Output:- “bcdfghjklmnpqrstvwxyz”

In [19]:
a="abcdefghijklmnopqrstuvwxyz"
b=a.replace("a","")
c=b.replace("e","")
d=c.replace("i","")
e=d.replace("o","")
f=e.replace("u","")
f

'bcdfghjklmnpqrstvwxyz'